/* .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.main-color-bg {
    background-color: #28a19c !important;
    border-color: #358e8b !important;
    color: #ffffff !important;
} */

/* style="background-color: #28a19c !important; padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; color:#FFFF" */